body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #292733;
    height: calc(100vh - 70px); /* Ajuste para a altura da tela */
    color: #e6e6e6be;
}

#message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f2f2f288;
}

#message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #6d4aff;
    border-radius: 5px;
    font-size: 14px;
}

#message-input button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6d4aff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

#message-input button:hover {
    background-color: #4b3a92;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Reduzir tamanho da fonte em telas menores */
    }

    #message-input input {
        font-size: 12px; /* Font menor para input em telas pequenas */
    }

    #message-input button {
        font-size: 12px; /* Font menor para o botão em telas pequenas */
        padding: 8px; /* Menos padding em telas menores */
    }
}

@media screen and (max-width: 480px) {
    #chat-box {
        padding: 8px; /* Menos padding para otimizar o espaço */
    }

    #message-input {
        flex-direction: column; /* Organiza os itens em coluna em telas muito pequenas */
        align-items: stretch; /* Ajusta os itens ao comprimento total */
    }

    #message-input input {
        margin-bottom: 10px; /* Espaçamento entre o input e o botão */
    }

    #message-input button {
        margin-left: 0;
        width: 100%; /* O botão ocupa toda a largura em telas muito pequenas */
    }
}
